<% if current_customer %>

<% else %>

<% end %>
   <div class="topHead navbar-brand mr-autorail" >
   <%= image_tag("logo.png") %>
    </div>
<nav class="navbar navbar-expand-lg navbar-light nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a><%= link_to "Home", root_path %><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a><%= link_to "Sign Up", new_customer_registration_path %></a>
      </li>
      <li class="nav-item">
        <a><%= link_to "Sign Out", destroy_customer_session_path, method: :delete %></a>
      </li>
    </ul>
    <span class="navbar-text">
      <li class="nav-item">
        <% if current_customer %>
        <a><%= link_to "Sign Out", destroy_customer_session_path, method: :delete %></a>
      </li>
      <li class="nav-item">
        <% else %>
        <a><%= link_to "Sign in", new_customer_session_path %></a>
      </li>      
      <li class="nav-item">
       <a><%= link_to "Sign Up", new_customer_registration_path %></a>
       <% end %>
      </li>    </span>
  </div>
</nav>  
      
    </header>